<!DOCTYPE html>
<html>

<head>
    <style>
        /* Center the form */
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #f5f5f5;
        }

        /* Add straight border */
        .rounded-form {
            border: 2px solid #cccccc;
            border-radius: 0;
            padding: 40px;
            background-color: #ffffff;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        /* Center the text */
        .center-text {
            text-align: center;
            text-transform: uppercase;
            color: #333333;
            margin-bottom: 40px;
        }

        label {
            font-weight: bold;
        }

        td {
            padding-top: 10px;
            padding-right: 10px;
        }

        button {
            width: 230px;
        }

        .submit-tr {
            margin-top: 20px;
        }

        .create-account-tr {
            margin-top: 10px;
        }

        .info-table {
            display: inline-block;
        }

        .info-table th,
        .info-table td {
            padding: 5px 10px;
        }

        .bold-title {
            font-weight: 800;
        }

        .icon-svg {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <div class="rounded-form">
        <div class="icon-svg">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24" fill="none"
                stroke="#000838" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path
                    d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
            </svg>
        </div>

        <h1 class="center-text bold-title" style="color:#000838;">Profil uporabnika</h1>

        <table class="info-table">
            <tr>
                <td>
                    <h3 class="bold-title">IME:</h3>
                </td>
                <td>
                    <h4>{{user.username}}</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h3 class="bold-title">E-POŠTA:</h3>
                </td>
                <td>
                    <h4>{{user.email}}</h4>
                </td>
            </tr>
        </table>

        <h2>Your Car Rides:</h2>
        {{#if carRides.length}}
        <table class="carRides-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Device Data Length</th>
                    <th>Date</th>
                    <th>Rating</th>
                    <th></th>
                    <th></th>
                    <!-- Add table headers for other car ride properties as needed -->
                </tr>
            </thead>
            <tbody>
                {{#each carRides}}
                <tr>
                    <td>{{ this._id }}</td>
                    <td>{{ this.deviceData.length }}</td>
                    <td>{{ this.dateOfRide }}</td>
                    <td>{{ this.carRideRating }}</td>
                    <td>
                        <form action="/carRide/{{this._id}}?_method=PUT" method="POST">
                            <div>
                                <button type="submit" class="btn btn-primary">Dodaj podatke</button>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form action="/carRide/getLongLat/{{this._id}}" method="GET">
                            <div>
                                <button type="submit" class="btn btn-primary">Info</button>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form action="/carRide/{{this._id}}?_method=DELETE" method="POST">
                            <div>
                                <button type="submit" class="btn btn-danger">Izbrisi carRide</button>
                            </div>
                        </form>
                    </td>
                    <!-- Display other car ride properties as needed -->
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
        <p class="no-carRides">No car rides available yet.</p>
        {{/if}}

        <form action="/carRide" method="POST" class="carRide-button">
            <button>Start carRide</button>
        </form>
    </div>
</body>

</html>
