<!DOCTYPE html>
<html>

<head>
    <style>
        /* Center the form */
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #f5f5f5;
        }

        /* Add straight border */
        .rounded-form-container {
            padding-top: 300px;
            padding-bottom: 10px;
            display: grid;
            grid-template-rows: auto auto;
            gap: 20px;
        }

        .rounded-form {
            border: 2px solid #cccccc;
            border-radius: 0;
            padding: 40px;
            background-color: #ffffff;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .sdn-rounded-from{
            border: 2px solid #cccccc;
            border-radius: 0;
            padding: 40px;
            background-color: #ffffff;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        /* Center the text */
        .center-text {
            text-align: center;
            text-transform: uppercase;
            color: #333333;
            margin-bottom: 40px;
        }

        label {
            font-weight: bold;
        }

        td {
            padding-top: 10px;
            padding-right: 10px;
        }

        button {
            width: 230px;
        }

        .submit-tr {
            margin-top: 20px;
        }

        .create-account-tr {
            margin-top: 10px;
        }

        .info-table {
            display: inline-block;
        }

        .info-table th,
        .info-table td {
            padding: 5px 10px;
        }

        .bold-title {
            font-weight: 800;
        }

        .icon-svg {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
        th{
          text-align: center;
          font-weight: bold;
        }
        .carRides-table {
          width: 100%;
          border-collapse: collapse;
        }

        .carRides-table th,
        .carRides-table td {
          text-align: center;
          padding: 8px;
          border-bottom: 1px solid #ddd;
        }

        .carRides-table th {
          background-color: #f2f2f2;
        }

        .carRides-table tbody tr:last-child td {
          border-bottom: none;
        }
        .gray{
          background-color: #f2f2f2;
        }
        .sdn-gray{
          background-color: #eaeaea ;
        }
        .header-style{
          background-color: #98c1d9;
        }
  </style>
</head>

<body>
  <div class="rounded-form-container">
    <div class="rounded-form">
        <div class="icon-svg">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24" fill="none"
                stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path
                    d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
            </svg>
        </div>

        <h1 class="center-text bold-title" style="color:#000000;">Profil uporabnika</h1>

        <table class="info-table">
            <tr>
                <td>
                    <h3 class="bold-title">IME:</h3>
                </td>
                <td>
                    <h4>{{user.username}}</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h3 class="bold-title">E-POŠTA:</h3>
                </td>
                <td>
                    <h4>{{user.email}}</h4>
                </td>
            </tr>
        </table>
    </div>

    <div class="rounded-form">
    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24"><path d="M23.5 7c.276 0 .5.224.5.5v.511c0 .793-.926.989-1.616.989l-1.086-2h2.202zm-1.441 3.506c.639 1.186.946 2.252.946 3.666 0 1.37-.397 2.533-1.005 3.981v1.847c0 .552-.448 1-1 1h-1.5c-.552 0-1-.448-1-1v-1h-13v1c0 .552-.448 1-1 1h-1.5c-.552 0-1-.448-1-1v-1.847c-.608-1.448-1.005-2.611-1.005-3.981 0-1.414.307-2.48.946-3.666.829-1.537 1.851-3.453 2.93-5.252.828-1.382 1.262-1.707 2.278-1.889 1.532-.275 2.918-.365 4.851-.365s3.319.09 4.851.365c1.016.182 1.45.507 2.278 1.889 1.079 1.799 2.101 3.715 2.93 5.252zm-16.059 2.994c0-.828-.672-1.5-1.5-1.5s-1.5.672-1.5 1.5.672 1.5 1.5 1.5 1.5-.672 1.5-1.5zm10 1c0-.276-.224-.5-.5-.5h-7c-.276 0-.5.224-.5.5s.224.5.5.5h7c.276 0 .5-.224.5-.5zm2.941-5.527s-.74-1.826-1.631-3.142c-.202-.298-.515-.502-.869-.566-1.511-.272-2.835-.359-4.441-.359s-2.93.087-4.441.359c-.354.063-.667.267-.869.566-.891 1.315-1.631 3.142-1.631 3.142 1.64.313 4.309.497 6.941.497s5.301-.184 6.941-.497zm2.059 4.527c0-.828-.672-1.5-1.5-1.5s-1.5.672-1.5 1.5.672 1.5 1.5 1.5 1.5-.672 1.5-1.5zm-18.298-6.5h-2.202c-.276 0-.5.224-.5.5v.511c0 .793.926.989 1.616.989l1.086-2z"/></svg>
        <h2 class="bold-title">VOŽNJE:</h2>
        {{#if carRides.length}}
<table class="carRides-table">
    <thead>
        <tr class="header-style">
            <th class="header-style">ID</th>
            <th class="header-style">ŠTEVILO PODATKOV</th>
            <th class="header-style">ČAS</th>
            <th class="header-style">OCENA</th>
            <th class="header-style">DODAJ PODATKE</th>
            <th class="header-style">PRIKAŽI PODATKE</th>
            <th class="header-style">IZBRIŠI PODATKE</th>
        </tr>
    </thead>
    <tbody>
        {{#each carRides}}
        <tr>
            <td class = "sdn-gray">{{ this._id }}</td>
            <td class="gray">{{ this.deviceData.length }}</td>
            <td class = "sdn-gray"><span class="dateOfRide"> {{this.dateOfRide }} </span></td>
            <td class="gray">{{ this.carRideRating }}</td>
            <td class = "sdn-gray">
                <form action="/carRide/{{this._id}}?_method=PUT" method="POST">
                    <div>
                        <button type="submit" class="btn btn-primary">DODAJ PODATKE</button>
                    </div>
                </form>
            </td>
            <td class="gray">
                <form action="/carRide/getLongLat/{{this._id}}" method="GET">
                    <div>
                        <button type="submit" class="btn btn-primary">INFO</button>
                    </div>
                </form>
            </td>
            <td class = "sdn-gray">
                <form action="/carRide/{{this._id}}?_method=DELETE" method="POST">
                    <div>
                        <button type="submit" class="btn btn-danger">IZBRIŠI VOŽNJO</button>
                    </div>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

        {{else}}
        <p class="no-carRides">Vožnje še niso na voljo.</p>
        {{/if}}

        <form action="/carRide" method="POST" class="carRide-button">
            <button class="btn btn-warning">ZAČNI VOŽNJO</button>
        </form>
    </div>
  </div>
</body>

</html>

<script>
  function formatTimestamps() {
  const timestamps = document.querySelectorAll('.dateOfRide');
  timestamps.forEach(dateOfRide => {
    const originalTimestamp = dateOfRide.innerText;
    const formattedTimestamp = formatTimestamp(originalTimestamp);
    dateOfRide.innerText = formattedTimestamp;
  });
}

function formatTimestamp(dateOfRide) {
  const dateObj = new Date(dateOfRide);
  
  const days = ['NEDELJA', 'PONEDELJEK', 'TOREK', 'SREDA', 'ČETRTEK', 'PETEK', 'SOBOTA'];
  const day = days[dateObj.getDay()];
  
  const month = dateObj.getMonth() + 1;
  const year = dateObj.getFullYear();
  
  const formattedTimestamp = `${day}, ${dateObj.getDate()}.${month}.${year} - ${formatTime(dateObj)}`;
  
  return formattedTimestamp;
}

function formatTime(dateObj) {
  const hours = dateObj.getHours();
  const minutes = dateObj.getMinutes();
  
  const formattedHours = hours.toString().padStart(2, '0');
  const formattedMinutes = minutes.toString().padStart(2, '0');
  
  const formattedTime = `${formattedHours}:${formattedMinutes}`;
  
  return formattedTime;
}

formatTimestamps();
</script>