<h1>deviceData:</h1>
{{#each deviceDatas}}
<p>Accelerometer X: {{this.accelerometerX}}</p>
<p>Accelerometer Y: {{this.accelerometerY}}</p>
<p>Accelerometer Z: {{this.accelerometerZ}}</p>
<p>Gyroscope X: {{this.gyroscopeX}}</p>
<p>Gyroscope Y: {{this.gyroscopeY}}</p>
<p>Gyroscope Z: {{this.gyroscopeZ}}</p>
<p>Latitude: {{this.latitude}}</p>
<p>Longitude: {{this.longitude}}</p>
<hr />
{{/each}}