<h1>deviceData:</h1>
{{#each deviceDatas}}
<p>Device Data:</p>
{{#each this.accelerometerX}}
<p>Accelerometer X: {{this}}</p>
{{/each}}
{{#each this.accelerometerY}}
<p>Accelerometer Y: {{this}}</p>
{{/each}}
{{#each this.accelerometerZ}}
<p>Accelerometer Z: {{this}}</p>
{{/each}}
{{#each this.gyroscopeX}}
<p>Gyroscope X: {{this}}</p>
{{/each}}
{{#each this.gyroscopeY}}
<p>Gyroscope Y: {{this}}</p>
{{/each}}
{{#each this.gyroscopeZ}}
<p>Gyroscope Z: {{this}}</p>
{{/each}}
<p>Latitude: {{this.latitude}}</p>
<p>Longitude: {{this.longitude}}</p>
<p>User: {{this.user.username}}</p>
<p>Rating: {{this.rating}}</p>
<p>Timestamp: {{this.timestamp}}</p>
<hr />
{{/each}}