<h1>Device Data:</h1>

{{#each deviceDatas}}
  <div>
    <p>Device Data:</p>
    <ul>
      <li>
        <div class="accordion">
          <span class="arrow"></span>
          <span class="axis-title" onclick="toggleAccelerometerValues(this)">Accelerometer X</span>
        </div>
        <ul class="accelerometer-values accelerometer-x">
          {{#each this.accelerometerX}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </li>
      <li>
        <div class="accordion">
          <span class="arrow"></span>
          <span class="axis-title" onclick="toggleAccelerometerValues(this)">Accelerometer Y</span>
        </div>
        <ul class="accelerometer-values accelerometer-y">
          {{#each this.accelerometerY}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </li>
      <li>
        <div class="accordion">
          <span class="arrow"></span>
          <span class="axis-title" onclick="toggleAccelerometerValues(this)">Accelerometer Z</span>
        </div>
        <ul class="accelerometer-values accelerometer-z">
          {{#each this.accelerometerZ}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </li>
      <li>
        <div class="accordion">
          <span class="arrow"></span>
          <span class="axis-title">Gyroscope X</span>
        </div>
        <ul class="gyroscope-values gyroscope-x">
          {{#each this.gyroscopeX}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </li>
      <li>
        <div class="accordion">
          <span class="arrow"></span>
          <span class="axis-title">Gyroscope Y</span>
        </div>
        <ul class="gyroscope-values gyroscope-y">
          {{#each this.gyroscopeY}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </li>
      <li>
        <div class="accordion">
          <span class="arrow"></span>
          <span class="axis-title">Gyroscope Z</span>
        </div>
        <ul class="gyroscope-values gyroscope-z">
          {{#each this.gyroscopeZ}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </li>
    </ul>
    
    <p>Latitude: {{this.latitude}}</p>
    <p>Longitude: {{this.longitude}}</p>
    <p>User: {{this.user.username}}</p>
    <p>Rating: {{this.rating}}</p>
    <p>Timestamp: {{this.timestamp}}</p>
    <hr />
  </div>
{{/each}}