{{#each deviceDatas}}
<div class="device-data-box">
  <div class="rounded-form">
    <h2 class="center-text">Device Data:</h2>
    <ul>
      <li>
        <h4>ACCELEROMETER VALUES:</h4>
        <div class="accordion">
          <span class="arrow"></span>
          <span class="axis-title" onclick="toggleAccelerometerValues(this)">Accelerometer X</span>
        </div>
        <ul class="accelerometer-values accelerometer-x">
          {{#each this.accelerometerX}}
            <li style="display: none;">{{this}}</li>
          {{/each}}
        </ul>
      </li>
      <li>
        <div class="accordion">
          <span class="arrow"></span>
          <span class="axis-title" onclick="toggleAccelerometerValues(this)">Accelerometer Y</span>
        </div>
        <ul class="accelerometer-values accelerometer-y">
          {{#each this.accelerometerY}}
            <li style="display: none;">{{this}}</li>
          {{/each}}
        </ul>
      </li>
      <li>
        <div class="accordion">
          <span class="arrow"></span>
          <span class="axis-title" onclick="toggleAccelerometerValues(this)">Accelerometer Z</span>
        </div>
        <ul class="accelerometer-values accelerometer-z">
          {{#each this.accelerometerZ}}
            <li style="display: none;">{{this}}</li>
          {{/each}}
        </ul>
      </li>
      <li>
        <h4>GYROSCOPE VALUES:</h4>
        <div class="accordion">
          <span class="arrow"></span>
          <span class="axis-title" onclick="toggleGyroscopeValues(this)">Gyroscope X</span>
        </div>
        <ul class="gyroscope-values gyroscope-x">
          {{#each this.gyroscopeX}}
            <li style="display: none;">{{this}}</li>
          {{/each}}
        </ul>
      </li>
      <li>
        <div class="accordion">
          <span class="arrow"></span>
          <span class="axis-title" onclick="toggleGyroscopeValues(this)">Gyroscope Y</span>
        </div>
        <ul class="gyroscope-values gyroscope-y">
          {{#each this.gyroscopeY}}
            <li style="display: none;">{{this}}</li>
          {{/each}}
        </ul>
      </li>
      <li>
        <div class="accordion">
          <span class="arrow"></span>
          <span class="axis-title" onclick="toggleGyroscopeValues(this)">Gyroscope Z</span>
        </div>
        <ul class="gyroscope-values gyroscope-z">
          {{#each this.gyroscopeZ}}
            <li style="display: none;">{{this}}</li>
          {{/each}}
        </ul>
      </li>
    </ul>

    <h4>Latitude: {{this.latitude}}</h4>
    <h4>Longitude: {{this.longitude}}</h4>
    <h4>Rating: {{this.rating}}</h4>
    <h4>Timestamp: {{this.timestamp}}</h4>
  </div>
</div>
{{/each}}

<style>
  .arrow {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #000;
    transition: transform 0.3s;
    transform: rotate(0deg);
  }

  .open .arrow {
    transform: rotate(90deg);
  }

  ul.accelerometer-values,
  ul.gyroscope-values {
    list-style-type: none;
  }

  .device-data-box {
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 10px;
    margin-top: 15px;
  }

  .rounded-form {
    border-radius: 0;
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }

  .center-text {
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 40px;
  }

  li{
    list-style-type: none;
  }
</style>


<script>
  function toggleAccelerometerValues(element) {
    const axisValues = element.parentElement.nextElementSibling;
    const arrow = element.querySelector('.arrow');
    element.parentElement.classList.toggle('open');
    const lis = axisValues.querySelectorAll('li');
    lis.forEach(li => {
      li.style.display = li.style.display === 'none' ? 'list-item' : 'none';
    });
  }

  function toggleGyroscopeValues(element) {
    const axisValues = element.parentElement.nextElementSibling;
    const arrow = element.querySelector('.arrow');
    element.parentElement.classList.toggle('open');
    const lis = axisValues.querySelectorAll('li');
    lis.forEach(li => {
      li.style.display = li.style.display === 'none' ? 'list-item' : 'none';
    });
  }
</script>
